//templates/edit-autor.html
{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/autor/update/{{autor[0]}}" method="POST">
          <div class="form-group">
            <input type="text" name="primeiro_nome" value="{{autor[1]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="sobrenome" value="{{autor[2]}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="num_autor" value="{{autor[3]}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}